<!-- Question à choix multiples -->
<ng-template #multiChoice let-propositions let-quiz="quiz" let-groupName="groupName">
    <ul>
        <li *ngFor="let proposition of propositions">
            <input type="checkbox" (change)="selectedResponseChecbox($event, quiz)" [value]="proposition.libelle" />
            <label>{{ proposition.libelle }}</label>
        </li>
    </ul>
</ng-template>

<!-- Question à choix unique -->
<ng-template #singleChoice let-propositions let-quiz="quiz" let-groupName="groupName">
  <ul>
    <li *ngFor="let proposition of propositions">
      <input type="radio" [name]="groupName" (change)="selectedResponseRadioOrInput($event, quiz)" [value]="proposition.libelle" />
      <label>{{ proposition.libelle }}</label>
    </li>
  </ul>
</ng-template>

<!-- Question à réponse libre -->
<ng-template #openChoice  let-quiz="quiz">
    <textarea (change)="selectedResponseRadioOrInput($event, quiz)" rows="5"></textarea>
</ng-template>  


<div class="quiz-container">
    <h1>Quiz {{specialite}}</h1>
  
    <div class="question-list">
      
        <ng-container *ngFor="let quiz of listQuizz">
            <app-quiz 
                [quizz]="quiz"
                [multiChoice]="multiChoice"
                [openChoice]="openChoice"
                [singleChoice]="singleChoice"
            >
            </app-quiz>
        </ng-container>
      
        <button (click)="submitResponse()">Valider</button>
    </div>
</div>