
<div class="container">
   <h1>Bienvenue sur notre application de Quizz</h1>
   <form>
     <div class="form-group">
       <label for="selectOption">Choisissez une option :</label>
       <select [(ngModel)] = "specialite" name="specialite">
         <option value="option1" value="Java">Java</option>
         <option value="option2" value="Angular">Angular</option>
       </select>
     </div>
     <button [disabled]="specialite === null || specialite === undefined" [routerLink]="['/quizz', specialite]">
         Commencez
     </button>
   </form>
</div>


 
